# Pythonの基本

## 1) データの型（Data Type）

Pythonでは数字も文字列もオブジェクトとして扱う<br>
オブジェクトごとにできることが異なるので、データのタイプを覚えることはとても重要

### 1-1) 数値型（Numbers）

数値型は大きく3つ<br>
type(オブジェクト)関数を使うことで、データタイプの確認が可能

#### 整数(Int)
3

In [7]:
3

3

In [8]:
type(3)

int

#### 浮動小数（float)
1.5

In [9]:
1.5

1.5

In [10]:
type(1.5)

float

intとintを用いて計算すると

In [11]:
3 + 1

4

integerとfloatを計算すると、結果はfloat

In [12]:
3 + 1.5

4.5

#### 複素数(Complex)
3.14j<br>

In [13]:
3.14j

3.14j

In [14]:
type(3.14j)

complex

#### 10の累乗
10の-a乗は[1e-a]と書くこともできる<br>
データサイエンスでは小さい値を扱うことがあるので、よく使います。

In [16]:
1e-2

0.01

### 1-3) 文字列（Strings)

'single quotation'

In [17]:
'single quotation'

'single quotation'

"double quotation"

In [18]:
"double quotation"

'double quotation'

""と''の関係は？
- ダブルクォーテーションの中では、シングルクォーテーションが使える
- 逆も使用可

In [19]:
"I'm Nakashima."

"I'm Nakashima."

In [20]:
'I"m Nakashima'

'I"m Nakashima'

複数行の文字列
- 関数のレファレンス用でよく使う（あとでまた説明します）
- \nで改行を示す

In [21]:
'''
multiple
line
'''

'\nmultiple\nline\n'

Pythonのindexは0からスタートする<br>
例） hello という文字列から１番目の文字を取り出したい

In [22]:
'hello'[0]

'h'

Slicing [N:M] => N以上M未満<br>
例） hello という文字列から1〜2文字目を取り出したい

In [24]:
'hello'[0:1]

'h'

例えばファイル名からIDを取得するとき

In [27]:
'fileID.csv'[0:6]

'fileID'

文字列の後ろから数えて取り出すということもできる

In [28]:
'fileID.csv'[:-4]

'fileID'

.format()　：　めちゃくちゃ使います

In [29]:
'hello {}'.format('world')

'hello world'

{}が多くなる場合は

In [31]:
'key is {}, value is {}'.format('KEY', 'VALUE')

'key is KEY, value is VALUE'

文字列同士の連結にも+演算が可能

In [6]:
'hello' + 'world'

'helloworld'

ファイル名を構成するときとかに使う

In [4]:
employee_id = '1490575'
number = '1'
filename = employee_id + '_' + number + '.csv'

= : 代入演算子<br>
今回は1490575という従業員番号を、employee_idという名前でメモリに保存

In [5]:
filename

'1490575_1.csv'

.formatを使ったほうがわかりやすい

In [33]:
filename = '{}_{}.csv'.format(employee_id, number)
filename

'1490575_1.csv'

split<br>
split()→()の中の区切り文字で、文字列をList形式で分割

In [34]:
'hello world'.split(" ")

['hello', 'world']

例）さきほどのfilenameを"."でわけてみる

In [35]:
filename.split(".")

['1490575_1', 'csv']

join<br>
'挿入文字列'.join()→挿入文字列で複数の文字列を結合

In [36]:
' '.join(['hello', 'world'])

'hello world'

### 1-4) リスト(List)

要素はオブジェクトなら何でもOK<br>
基本的には同じ型のみを入れる

In [38]:
list1 = [1, 'hello', 3.14]
list1

[1, 'hello', 3.14]

要素の取り出し

In [40]:
list1[1]

'hello'

要素の追加（append）

In [41]:
list1.append(4)

In [42]:
list1

[1, 'hello', 3.14, 4]

要素の連結

In [43]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

Point:
- appendはリストの次の要素に追加
- + はリスト同士の結合

### 1-5) 辞書（Dictionaries)

keyとvalueを持ったもの

In [47]:
dict1 = {'key1': 1, 'key2': 2, 'key3': 3}
dict1

{'key1': 1, 'key2': 2, 'key3': 3}

dict1から要素を取り出してみる

In [48]:
dict1['key1']

1

リストと違って順番という考え方はない

In [49]:
dict[0]

TypeError: 'type' object is not subscriptable

追加

In [52]:
dict1['key4'] = 100

In [53]:
dict1

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 100}

すでに存在するkeyに対して実行すれば、valueを更新することができる

In [54]:
dict1['key2'] = 1000

In [55]:
dict1

{'key1': 1, 'key2': 1000, 'key3': 3, 'key4': 100}

dictionaryに対しては、keyのリストやvalueのリストをとってくるということをよく行う

.keys

In [57]:
dict1.keys()

dict_keys(['key1', 'key2', 'key3', 'key4'])

.values

In [58]:
dict1.values()

dict_values([1, 1000, 3, 100])

### 1-6) 真偽値(Boolean)

True

In [59]:
True

True

False

In [60]:
False

False

Point: 最初が大文字であることに注意

1 == 1

1 == 2

### 1-7) タプル（Tuples）

変更できないリスト

In [61]:
tuple1 = (1, 2, 3)

In [62]:
tuple1

(1, 2, 3)

値を取り出すことはできる

In [63]:
tuple1[1]

2

でも変更することはできない

In [64]:
tuple[1] = 100

TypeError: 'type' object does not support item assignment

### 1-8) 集合（Sets）

ユニークな値だけ持つリスト
（あんまり使わない）

In [65]:
set1 = {1, 1, 3, 3, 2, 2, 2}

In [66]:
set1

{1, 2, 3}

## 2) データの型変換（Casting）

int型への変換

In [67]:
int(1.0)

1

小数は切り捨て

In [68]:
int(1.5)

1

文字が数字なら文字列にも適用できる

In [69]:
int('100')

100

文字列とかは変換できない

In [70]:
int('sample')

ValueError: invalid literal for int() with base 10: 'sample'

float型への変換

In [71]:
float(1)

1.0

Boolean型への変換

In [73]:
bool(1)

True

In [74]:
bool(0)

False

In [75]:
bool(100)

True

In [76]:
bool('strings')

True

In [77]:
bool('')

False

listへの変換

In [78]:
list('hello')

['h', 'e', 'l', 'l', 'o']

Setに変換すればユニークな値だけが残る

In [79]:
list1 = [1, 2, 2, 3, 4, 4, 4, 5]

In [80]:
set(list1)

{1, 2, 3, 4, 5}

## 3) 演算子（Operator）

+：足し算

In [81]:
1 + 1

2

-：引き算

In [82]:
3 - 1

2

*：かけ算

In [84]:
2 * 2

4

/：割り算

In [85]:
12 / 3

4.0

**：累乗

//

%

+=

&gt;

&lt;

<=

==

!=

in

and

or

is

## 4) If